#form{
    margin:130px 160px 100px auto;
    border-radius:15px;
    width: 50%;
    max-width: 550%;
    height: 75%;
    max-height: 75%;
    background-image: linear-gradient(-45deg, rgba(18, 19, 18, 0.774), rgba(27, 119, 126, 0.514));
    padding:20px;
  }
  
  #form h2{
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: left;
  }
  
  #form-description{
    font-size: 2rem;
    text-align:left;
  }
  
  #form-small-lines{
    font-size: 1.5rem;
    text-align:left;
  }
  
  #form input{
    font: inherit;
    font-size: 1.6rem;
    width: 100%;
    height:38px;
    margin-top:18px;
  }
  
  #form input[type="submit"]{
    margin-top:40px;
    height: 50px;
  }
  
  .small{
    font-size: 1rem;
    text-align:left;
  }
  