:root {
    --kelly-green:#4F5E29;
    --cream:#FFFFFF;
    --olive:#706D35;
    --green:#1C4508;
}

html, body {
    height: 100%;
    margin:0;
    padding:0;
    font-family: "Poppins", "monospace";
    background:none;
}

.navbar-brand {
    font-family: "Permanent Marker";
    color: var(--cream);
    font-size: 2em;
}

.navbar-brand:hover{
    font-family: "Permanent Marker";
    color: var(--olive);
}

.nav-link {
    margin-right: 1em !important;
    color:var(--cream);
}

.nav-link:hover{
    color:var(--olive);
}

.header {
    min-height: 400px;
    height: 100%;
    background-image: url('https://oldnewsclub.com/wp-content/uploads/2019/10/Modern-treehouse-design-by-Antony-Gibbon-Woodstock-1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.description h1 {
    color: var(--cream);
    font-family: "Permanent marker";
    font-size: 3em;
}

.description p {
    color: var(--cream);
    font-family: inherit;
    font-size: 1.1em;
    line-height: 1.2;
}

.description button {
    border:1px solid var(--olive);
    background:var(--olive);
    border-radius: 5px;
    color:var(--cream);
}

.description button:hover {
    border:1px solid var(--cream);
    background:var(--cream);
    color:var(--kelly-green);
}

@media only screen and (min-width: 600px) {
    /* For tablets: */

    .description h1 {
        font-size: 4em;
    }
    
    .description p {
        font-size: 1.3em;
        line-height: 1.3;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .description h1 {
        font-size: 5em;
    }
    
    .description p {
        font-size: 1.6em;
        line-height: 1.5;
    }
}