.navbar {
    overflow: hidden;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.95));
    position: fixed;
    top: 0;
    width: 100%;
    color:white;
    font-family: inherit;
  }

.navbar a {
    color:white;
    font-family: inherit;
    font-size: 1.6rem;
    float: right;
    display: block;
    text-align: center;
    padding: 2rem 3rem;
    text-decoration: none;
  }
  
.navbar a:hover {
    background: #ddd;
    color: black;
  }
