 html, body{
    height:100%;
    margin: 0;
    font-family: "Poppins", "monospace";
    font-size:10px;
    color:white;
 }

 .full-height{
  height:100%;
 }

  #panel-one{
      background-image: url("https://nuvomagazine.scdn2.secure.raxcdn.com/wp-content/uploads/2020/07/FOGHOUSE_HR00-scaled.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
  }

  #panel-two{
    background-color:white;
}

  #panel-three{
    background-color: gray;
}

h1 {
    font-size: 6rem;
    margin:0;
    position:relative;
    top: 50rem;
    padding-left: 23rem;
  }

.flex-container{
  display: flex;
  flex-direction: row:
}

#item1{
  background:transparent;
  width: 45%;
  height: 100%;
}

#item2{
  background: transparent;
  width: 55%;
  height: 100%;
  text-align: center;
}
